streamlit==1.35.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-groq==0.1.0
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
sentence-transformers==2.2.2
python-dotenv==1.0.0
pydantic==2.6.4
typing-extensions==4.10.0